.filter {
  width: 150px;

  .ant-select-selection {
    border-radius: 15px !important;
    border: 1px solid $primary-color !important;
    transition: all 0.3s ease;
  }

  &.ant-select-open .ant-select-selection,
  &.ant-select-focused .ant-select-selection {
    border-color: $primary-color !important;
    box-shadow: 0 0 0 2px rgba($primary-color, 0.2) !important;
  }

  .ant-select-arrow-icon {
    color: $primary-color;
  }
}
