.title {
  font-weight: bold;
  letter-spacing: 1px;
  color: $font-primary-color;
}

.subtitle {
  font-weight: bold;
  color: #737373;
}

.size32 {
  font-size: 32px;
}

.size28 {
  font-size: 28px;
}

.size24 {
  font-size: 24px;
}

.size16 {
  font-size: 16px;
}